# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Django-specific
*.log
*.sqlite3
db.sqlite3
media/
staticfiles/

# Virtual environment
venv/
env/
.env/

# IDE/editor specific files
.idea/
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Django migrations
migrations/
